<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Nautilus</title>
    <!-- <link rel="icon" type="favicon" href="assets/img/djsr.png"/> -->
    <link rel="icon" href="assets/img/djsr.png" type="image/gif" sizes="16x16">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins-dark.css" rel="stylesheet" type="text/css" id="plugins"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="assets/css/apps/notes.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="assets/css/forms/switches.css">
    <link href="assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/dashboard/dash_2-light.css" rel="stylesheet" type="text/css" id="dash"/>
    <link rel="stylesheet" type="text/css" href="assets/css/widgets/modules-widgets-dark.css" id="modules">
    <link href="plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components/custom-modal-dark.css" rel="stylesheet" type="text/css" id="modals">
    <link href="plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
    <!-- LOADER -->
    <link href="assets/css/loader.css" rel="stylesheet" type="text/css" />
</head>

<body class="alt-menu sidebar-noneoverflow" id="mainBody">
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm expand-header">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg></a>

            <ul class="navbar-item flex-row ml-auto">

                <li>
                    <a href="#" class="nav-link" id="newSessionBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                    </a>
                </li>

                <!-- <li>
                    <a href="./rbb.html" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                    </a>
                </li> -->
                
                <li>
                    <a href="#" class="nav-link" id="saveSessionBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                    </a>
                </li>
                <li>
                    <!-- <button type="button" class="btn btn-primary mb-2 mr-2" data-toggle="modal" data-target="#exampleModal">
                        Launch modal
                      </button> -->
                    <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#exampleModal" id="loadTrackMapBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                    </a>
                </li>
                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1" id="portContainer">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                        </svg>
                    </a>
                    <div class="dropdown-menu position-absolute e-animated e-fadeInUp" aria-labelledby="userProfileDropdown" id="containerFadeIn">
                        <button class="btn btn-primary mb-2" data-toggle="modal", data-target="#connectModal">Connect</button>
                        <input type=button id="mode" text="Switch Mode" class="btn btn-primary" value="Switch To Day Mode" />
                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed sbar-open" id="container">

        <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <ul class="navbar-nav theme-brand flex-row  text-center">
                    <li class="nav-item theme-logo">
                        <a href="#">
                            <img src="assets/img/djsr.png" class="navbar-logo" alt="logo">
                        </a>
                    </li>
                    <li class="nav-item theme-text">
                        <a href="#" class="nav-link"> DJSRacing </a>
                    </li>
                </ul>

                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu active">
                        <a href="#" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                <span>Dashboard</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </div>
                        </a>
                    </li>

                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle">
                                <circle cx="12" cy="12" r="10"></circle>
                            </svg><span>Menu</span></div>
                    </li>

                    <li class="menu">
                        <a href="customize.html" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg>
                                <span>Customize</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="analysis.html" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-plus">
                                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                    <polyline points="14 2 14 8 20 8"></polyline>
                                    <line x1="12" y1="18" x2="12" y2="12"></line>
                                    <line x1="9" y1="15" x2="15" y2="15"></line>
                                </svg>
                                <span>Analysis</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="plot.html" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart">
                                    <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                    <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                </svg>
                                <span>Plot</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu">
                        <a href="docs.html" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book">
                                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                                </svg>
                                <span>Documentation</span>
                            </div>
                        </a>
                    </li>

                    <li class="menu disabled">
                        <a href="zed.html" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera">
                                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                                    <circle cx="12" cy="13" r="4"></circle>
                                </svg>
                                <span>ZED Cloud</span>
                            </div>
                        </a>
                    </li>

                </ul>

            </nav>

        </div>
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <br>
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    <div class="col-xl-4 col-xl-offset-9">
                        <!-- <div class="widget widget-chart-two"> -->
                        <div class="widget-heading">
                            <h5 style="text-align:center">Track</h5>
                        </div>
                        <div class="widget-content">
                            <div id="s-line" class=""></div>
                            <!-- <div id="chart-2" class=""></div> -->
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget widget-five">
                            <div class="widget-content">
                                <div class="header">
                                    <h5>Lap Count</h6>
                                </div>
                                <br>
                                <br>
                                <br>

                                <div class="w-content">
                                    <div class="">
                                        <p class="task-left" id="lapCount">0</p>
                                    </div>
                                    <h5 id="lapTiming">Lap timing : 0s</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                        <div class="widget-three">
                            <div class="widget-heading">
                                <h5 class="">Statistics</h5>
                            </div>
                            <div class="widget-content">

                                <div class="order-summary">

                                    <div class="summary-list">
                                        <div class="w-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right">
                                                <polyline points="13 17 18 12 13 7"></polyline>
                                                <polyline points="6 17 11 12 6 7"></polyline>
                                            </svg>
                                        </div>
                                        <div class="w-summary-details">

                                            <div class="w-summary-info">
                                                <h6>Break Pressure (PSI)</h6>
                                                <p class="summary-count" id="brakePressureStat">00</p>
                                            </div>

                                            <div class="w-summary-stats">
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" id="brakePressure"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="summary-list">
                                        <div class="w-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-stop-circle">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <rect x="9" y="9" width="6" height="6"></rect>
                                            </svg>
                                        </div>
                                        <div class="w-summary-details">

                                            <div class="w-summary-info">
                                                <h6>Steering Angle</h6>
                                                <p class="summary-count" id="steeringAngleStat">00</p>
                                            </div>

                                            <div class="w-summary-stats">
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="-90" aria-valuemax="90" id="steeringAngle"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="summary-list">
                                        <div class="w-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thermometer">
                                                <path d="M14 14.76V3.5a2.5 2.5 0 0 0-5 0v11.26a4.5 4.5 0 1 0 5 0z"></path>
                                            </svg>
                                        </div>
                                        <div class="w-summary-details">

                                            <div class="w-summary-info">
                                                <h6>Cell Temperature</h6>
                                                <p class="summary-count" id="cellTempStat">00</p>
                                            </div>

                                            <div class="w-summary-stats">
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" id="cellTemp"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="summary-list">
                                        <div class="w-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg>
                                        </div>
                                        <div class="w-summary-details">

                                            <div class="w-summary-info">
                                                <h6>Throttle</h6>
                                                <p class="summary-count" id="throttleStat">00</p>
                                            </div>

                                            <div class="w-summary-stats">
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10" id="throttle"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-px-spacing">

                <div class="row app-notes layout-top-spacing" id="cancel-row">
                    <div class="col-lg-12">

                        <div class="app-container">
                            <div class="app-note-container">

                                <div id="ct" class="note-container note-grid">
                                    <div class="row">
                                        <p>⠀⠀Slide Switch⠀⠀</p>
                                        <!-- <p>Mapping #1</p> -->
                                        <label class="switch s-primary  mb-4 mr-2">
                                            <input type="checkbox" checked="" id="slideBtn">
                                            <span class="slider round"></span>
                                        </label>
                                        <!-- <p>Mapping #2</p> -->
                                    </div>
                                    <br>
                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_1_data" >00</h4>
                                            <h8 class="card-text" id="sensor_1" >00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_2_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_2">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-work">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_3_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_3">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_4_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_4">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_5_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_5">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_6_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_6">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_7_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_7">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-important">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_8_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_8">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_9_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_9">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_10_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_10">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_11_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_11">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-work">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_12_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_12">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_13_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_13">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_14_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_14">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_15_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_15">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-work">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_16_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_16">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-important">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_17_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_17">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_18_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_18">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_19_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_19">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-work">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_20_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_20">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-important">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_21_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_21">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_22_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_22">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_23_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_23">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_24_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_24">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_25_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_25">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_26_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_26">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_27_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_27">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-important">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_28_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_28">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_29_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_29">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_30_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_30">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_31_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_31">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-work">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_32_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_32">00</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-social">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_33_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_33">Sensor #33</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-personal">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_34_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_34">Sensor #34</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_35_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_35">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_36_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_36">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_37_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_37">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_38_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_38">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_39_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_39">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_40_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_40">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_41_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_41">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_42_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_42">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_43_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_43">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_44_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_44">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_45_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_45">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_46_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_46">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_47_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_47">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_48_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_48">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_49_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_49">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_50_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_50">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_51_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_51">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_52_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_52">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_53_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_53">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_54_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_54">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_55_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_55">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_56_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_56">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_57_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_57">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_58_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_58">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_59_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_59">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_60_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_60">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_61_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_61">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_62_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_62">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_63_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_63">Sensor #35</h8>
                                        </div>
                                    </div>

                                    <div class="note-item all-notes note-fav">
                                        <div class="card-body">
                                            <h4 class="card-title" id="sensor_64_data" >00</h4>
                                            <h8 class="card-text"  id="sensor_64">Sensor #35</h8>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- Mapping Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Track Map</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p>⠀⠀Kalman Filter⠀⠀</p>
                        <label class="switch s-primary  mb-4 mr-2">
                            <input type="checkbox" checked="" id="kfBtn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class ="column" id="mapChart"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" id="resetTrackMap"><i class="flaticon-cancel-12"></i>Reset</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" id="saveTrackMap">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade login-modal" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title">Connect</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
            </div>
            <div class="modal-body">
              <p>Cloud</p>
              <form class="mt-0" id="cloudForm">
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon7">http://</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="example.com" required="">
                </div>                  
                <button type="submit" name="cloudFormSubmitBtn" class="btn btn-primary mt-2 mb-2 btn-block" id="cloudConnectBtn"  value="disconnected">
                    Connect
                </button>
              </form>

              <div class="division">
                    <span>OR</span>
              </div>
              <p>COM Port</p>
              <form class="mt-0" action="#" id="portForm">
                <div class="input-group mb-4">
                    <input id="port_input" type="text" placeholder="Eg. COM4" class="form-control" required="">
                    <button type="submit" class="btn btn-primary mt-2 mb-2 btn-block" id="submit_port">Submit</button>
                </div>
              </form>
              <p id="response"></p>
            </div>
            <div class="modal-footer justify-content-center">
              <div class="forgot login-footer">
                  <span>Looking for help? <a href="./docs.html">Read the docs.</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- END MAIN CONTAINER -->
    <!-- Electron Styles -->
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script>
        let $ = require('jquery');
        require('popper.js');
        require('bootstrap');
    </script>
    <script src="plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="plugins/notification/snackbar/snackbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="plugins/apex/apexcharts.min.js"></script>
    <script src="assets/js/apps/notes.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN PAGE ELECTRON SCRIPTS -->
    <script src='../dashboard.js'></script>
</body>
<footer>
    <!-- <p style="text-align: center;">Nautilus is open-sourced under GNU GPLv3.</p> -->
</footer>
</html>